body {
  padding: 0;
  margin: 0;
  color: #777;
  line-height: 1.8;
}
.img {
  background-image: url(/nature-sky-sunset-man-1600w.jpg);
  width: 100vw;
  height: 400px;
  background-size: cover;
  position: relative;
  /* background-repeat: no-repeat; */
  opacity: 0.75;
}
.nav-bar {
  display: flex;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
div a {
  text-decoration: none;
  padding: 8px 16px;
  margin-top: 0;
}
.search {
  margin-left: auto;
}
svg {
  margin: 0 4px 5px 0;
}
a:hover {
  background-color: #ccc;
}
.search:hover {
  background-color: red;
  color: white;
}
.main-text{
  position: absolute;
  left: 523.5px;
  top: 186.5px;
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  letter-spacing: 10px;
  font-size: 20px;
}
.about h3{
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  margin: 10px 0;
  font-size: 24px;
}
.about-center-text{
  text-align: center;
}
.about{
  padding: 64px 16px 64px 16px;
  margin-left: auto;
  margin-right: auto;
  margin: 0px 185px;
}