body {
  padding: 0;
  margin: 0;
  color: #777;
  font-family: "Lato", sans-serif;
  line-height: 24px;
}
.img {
  background-image: url(./images/nature-sky-sunset-man-1600w.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
  opacity: 0.75;
  background-position: center;
}
.nav-bar {
  display: flex;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
div a {
  text-decoration: none;
  padding: 8px 16px;
  margin-top: 0;
}
.search {
  margin-left: auto;
}
i {
  margin: 0 4px 5px 0;
}
a:hover {
  background-color: #ccc;
}
.search:hover {
  background-color: red;
  color: white;
}
.main-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-size: 20px;
}
.about h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  margin: 10px 0;
  font-size: 24px;
}
.about-center-text {
  text-align: center;
}
.about {
  padding: 64px 16px 64px 16px;
  margin-left: auto;
  margin-right: auto;
  margin: 0px 185px;
}
.main-container {
  position: relative;
  width: 100%;
  padding: 12px 24px;
  display: flex;
}
.container-img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  opacity: 0.6;
}
.container-left {
  width: 50%;
  text-align: center;
  padding: 12px 24px;
}
.container-right {
  width: 50%;
  padding: 12px 24px;
}
.container-img:hover {
  opacity: 1;
}
.container-text {
  text-align: center;
  margin: 18px 0;
  padding: 16px 0;
  font-size: 18px;
}
.Bar-text {
  letter-spacing: 10px;
}
.bar-outside {
  background-color: #f1f1f1;
}
.bar-inside {
  background-color: #616161;
  color: #fff;
  padding: 4px 8px;
  text-align: center;
}
.analysis-chart {
  background-color: #616161;
  color: #fff;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.analysis-text {
  margin: 16px 0;
  font-size: 15px;
}
.analysis-text span {
  font-size: 24px;
}
.second-img {
  background-image: url(./images/Explore-feature-Featured-Image-2.webp);
  width: 100%;
  height: 400px;
  background-position: center;
  opacity: 0.6;
  background-size: cover;
  position: relative;
}
.second-img-PORTFOLIO {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 12px 24px;
  font-size: 36px;
  letter-spacing: 10px;
}
.portfolio-gallery {
  padding: 64px 16px;
  margin: 0 185px;
}
.gallery-head {
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.gallery-text {
  margin: 15px 0;
  text-align: center;
}
.gallery-top {
  display: flex;
  padding: 0px 8px;
}
.gallery-images {
  padding: 0px 8px;
}
.gallery-images:hover {
  opacity: 0.6;
  cursor: pointer;
}
.gallery-bottom {
  display: flex;
  padding: 0px 8px;
  margin: 16px 0;
}
.loading-button-main {
  text-align: center;
}
.loading-button {
  padding: 16px 24px;
  border: none;
  background-color: #f1f1f1;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.loading-button:hover {
  background-color: #ccc;
  cursor: pointer;
}
.third-img {
  background-image: url(./images/world-global-networking-international-society-260nw-448784269.jpg);
  width: 100%;
  height: 400px;
  background-position: center;
  opacity: 0.6;
  background-size: cover;
  position: relative;
}
.third-img-CONTACT {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 12px 24px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
}
.work-contact-main {
  padding: 64px 16px;
  margin: 0 185px;
}
.work-contact-head {
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.work-contact-text {
  margin: 20px 0;
  text-align: center;
}
.contact-main {
  margin: 16px 0;
  padding: 32px 0;
}
.contact-main {
  position: relative;
  width: 100%;
  padding: 32px 0px;
  display: flex;
  margin: 16px 0;
}
.map-img {
  padding: 0 16px;
}
.map-img img {
  border-radius: 5px;
}
.content-left {
  margin: 16px 0;
  padding: 0px 16px;
}
.contact-dateils {
  margin-bottom: 16px;
  font-size: 20px;
}
.contact-name {
  display: flex;
  justify-content: space-between;
  /* padding: 8px; */
}
.contact-input-main input {
  padding: 8px;
  width: 100%;
}
